body {
    background-color: #9197F8;
    margin: 0px 0px;
    font-family: "fredoka";
    font-family: "inter";
}

#bannertxt {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #8D66C6;
    font-family: "inter";
}

#nav {
    justify-content: center;
    background-color: #8D66C6; 
    margin: 0px 0px;
    padding: 2% 2%;

}

.nav-button {
    background-color: #626AD3;
    border-radius: 35px;
    border-style: none;
    padding: 30px 30px;
    color: white;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "fredoka";
}

.nav-button:hover {
    transition: background-color 1s, color 1;
    transition-duration: .3s;
    color: #626AD3;
    background-color: white;
}

a {
    color: white;
}

#title {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    font-size: 56px;
    color: white;
    font-weight: 450;
    font-family: "fredoka";
}

#About-Me {
    display: flex;
    gap: 100px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#burger {
    display: none;
}

.display-flex {
    display: flex;
}

@media (max-width: 1075px) {
    #About-Me {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #title {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .nav-button {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 36px;
    }

    #burger {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #626AD3;
        width: 200px;
        color: white;
        gap: 20px;
        border-radius: 20px;
        font-size: 30px;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 50px;
    }

    .display-none-mobile {
        display: none;
    }
}

#abouttxt {
    padding: 30px 30px;
    font-size: 24px;
    color: white;
    border-radius: 20px;
    background-color: #8D66C6;
    border: solid;
    border-color: #6035A0;
}





#burger:hover dropdown li{
    display: block; 
}




#titletxt{
    background-color: #8D66C6;
    font-size: 84px;
    border-radius: 20px;
    padding: 15px 15px;
    width: 600px;
}

